<div class="card w-100 shadow mb-4 p-3 border-0">
  <!-- NEW label -->
  <div class="position-absolute bg-danger text-white small px-2 py-1 rounded" style="top: 10px; left: 10px;">NEW</div>

  <!-- Product image -->
  <div class="text-center">
    <img [src]="product.image"
         class="img-fluid"
         style="max-height: 150px; object-fit: contain;"
         alt="{{ product.title }}">
  </div>

  <!-- Card body -->
  <div class="card-body px-2 py-3">
    <h6 class="title font-weight-semibold">{{ product.title }}</h6>
    <div class="small text-muted mb-2">
      <div class="description">{{ product.description }}</div>
    </div>
    <div class="price mb-3">
      {{ product.price | currency }}/{{product.price | toKhr:"in"}}
    </div>

    <!-- Category & description -->
    <div class="small text-muted mb-2">
      <div class="mb-1"><strong>Category:</strong> {{ product.category }}</div>
    </div>
  </div>
</div>
